<div class="movie-details">
    <button class="movie-details__button" (click)="backToHomepage()">Back to Homepage</button>
    <ng-container *ngIf="movie">
        <h1 class="movie-details__title">{{ movie.title }}</h1>
        <div class="movie-details__info">
            <img [src]="movie.poster" [alt]="movie.title" class="movie-details__image" />
            <h2>Summary:</h2>
            <p class="movie-details__summary">{{ movie.summary }}</p>
        </div>
        <h2>Details:</h2>
        <table class="movie-details__table">
            <tr>
                <th class="movie-details__heading">Box Office</th>
                <td class="movie-details__data">{{ movie.box_office | currency: 'USD' : 'symbol'}} million</td>
            </tr>
            <tr>
                <th class="movie-details__heading">Budget</th>
                <td class="movie-details__data">${{ movie.budget }} million</td>
            </tr>
            <tr>
                <th class="movie-details__heading">Duration</th>
                <td class="movie-details__data">{{ movie.duration | duration}}</td>
            </tr>
            <tr>
                <th class="movie-details__heading">Producers</th>
                <td class="movie-details__data">{{ movie.producers }}</td>
            </tr>
            <tr>
                <th class="movie-details__heading">Cinematographers</th>
                <td class="movie-details__data">{{ movie.cinematographers }}</td>
            </tr>
        </table>
    </ng-container>
</div>
