<h1>Harry Potter Movies</h1>
<div>Filters</div>
<form [formGroup]="movieFilters">
  <input type="text" id="title" formControlName="title" placeholder="Title" data-qa="title-filter"/>
  <input type="number" id="releaseYear" formControlName="releaseYear" placeholder="Release Year" data-qa="release-year-filter"/>
</form>
<ng-container *ngIf="filteredMovies.length" class="movie-list">
  <span *ngFor="let movie of filteredMovies; trackBy: trackById" class="movie__item" data-qa="movie-item">
    <h2>{{ movie.title }}</h2>
    <div class="movie__info" data-qa="movie-info">
      <span>
        {{ releaseDateTitle }}: {{ movie.release_date | date : "yyyy-MM-dd" }}
      </span>
      <br />
      <span> {{ budgetTitle }}: ${{ movie.budget }} million</span> <br />
      <span>{{ durationTitle }}: {{ movie.duration | duration}}</span>
    </div>
    <button
      class="details-button"
      data-qa="movie-details-button"
      [id]="movie.id"
      (click)="selectMovie(movie.id)"
    >
      Details
    </button>
  </span>
</ng-container>
