.movie-list {
  display: flex;
  flex-direction: column;
}

.movie__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
  background-color: rgb(197, 183, 161);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.movie__info h2 {
  margin-right: auto;
}

.movie__info {
  margin-left: 20px;
}

.details-button {
  margin-left: auto;
}
